<a href="https://colab.research.google.com/github/s1063724/2024python_analysis/blob/main/example/0108pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# pandas -> python and data analysis
# 索引陣列結構series, dataframe物件
# 多層次的階層索引
# Agrregating, Transdorm
# 檔案讀取，轉換，純存

import pandas as pd

# 自訂索引
fruits = ['蘋果', '橘子', '梨子', '櫻桃', '蓮霧', '釋迦']
s = pd.Series([12, 29, 72, 4, 8, 10], index = fruits)
print(s)

蘋果    12
橘子    29
梨子    72
櫻桃     4
蓮霧     8
釋迦    10
dtype: int64

In [ ]:
print('橘子 = ', s['橘子'])
print(s[['梨子', '蓮霧', '釋迦']])
print()
print((s+2)*3)

橘子 =  29
梨子    72
蓮霧     8
釋迦    10
dtype: int64

蘋果     42
橘子     93
梨子    222
櫻桃     18
蓮霧     30
釋迦     36
dtype: int64

In [ ]:
# DataFrame (Excel, Table)
# 資料來源: excel, csv, 資料庫, 字典dict
dists = {'name' : ['中正區', '板橋區', '桃園區', '北屯區',
         '安南區', '三民區', '大安區', '永和區',
         '八德區', '前鎮區', '鳳山區', '信義區',
         '新店區'],
      'population' : [159598, 551452, 44287, 275207,
              192327, 343203, 309835, 222531,
              198473, 189623, 359125, 225561,
              302070],
      'city' : ['台北市', '新北市', '桃園市', '台中市',
            '台南市', '高雄市', '台北市', '新北市',
            '桃園市', '高雄市', '高雄市', '台北市',
            '新北市']
}
ordinals = ['第一區', '第二區', '第三區', '第四區',
            '第五區', '第六區', '第七區', '第八區',
            '第九區', '第十區', '第十一區', '第十二區',
            '第十三區']
df1 = pd.DataFrame(dists)
df = pd.DataFrame(dists, columns =['name', 'population', 'city'], index = ordinals)
print(df1)
print()
print(df)

   name  population city
0   中正區      159598  台北市
1   板橋區      551452  新北市
2   桃園區       44287  桃園市
3   北屯區      275207  台中市
4   安南區      192327  台南市
5   三民區      343203  高雄市
6   大安區      309835  台北市
7   永和區      222531  新北市
8   八德區      198473  桃園市
9   前鎮區      189623  高雄市
10  鳳山區      359125  高雄市
11  信義區      225561  台北市
12  新店區      302070  新北市

     name  population city
第一區   中正區      159598  台北市
第二區   板橋區      551452  新北市
第三區   桃園區       44287  桃園市
第四區   北屯區      275207  台中市
第五區   安南區      192327  台南市
第六區   三民區      343203  高雄市
第七區   大安區      309835  台北市
第八區   永和區      222531  新北市
第九區   八德區      198473  桃園市
第十區   前鎮區      189623  高雄市
第十一區  鳳山區      359125  高雄市
第十二區  信義區      225561  台北市
第十三區  新店區      302070  新北市

In [ ]:
df.to_html('ex01.html')

In [ ]:
# 城市變成索引值
df2 = pd.DataFrame(dists, columns = ['name', 'population'], index = dists['city'])
print(df2)

    name  population
台北市  中正區      159598
新北市  板橋區      551452
桃園市  桃園區       44287
台中市  北屯區      275207
台南市  安南區      192327
高雄市  三民區      343203
台北市  大安區      309835
新北市  永和區      222531
桃園市  八德區      198473
高雄市  前鎮區      189623
高雄市  鳳山區      359125
台北市  信義區      225561
新北市  新店區      302070

In [ ]:
# to_csv(), to_json, to_html, to_excel, to_sql
# read_csv(), read_json, read_html, read_sql
df.to_csv('dists2.csv', index = False, encoding = 'utf-8')
df.to_json('dists2.json')

In [ ]:
print(df.head(3))
print(df.tail(2))
print(len(df))
print(df.shape)

    name  population city
第一區  中正區      159598  台北市
第二區  板橋區      551452  新北市
第三區  桃園區       44287  桃園市
     name  population city
第十二區  信義區      225561  台北市
第十三區  新店區      302070  新北市
13
(13, 3)

In [ ]:
# 使用iterrows()函數走訪 DataFrame物件
for index, row in df.iterrows():
  print(index, '\t', row['city'], '\t', row['name'], '\t', row['population'])
  print('--------------------------------')

第一區 	 台北市 	 中正區 	 159598
--------------------------------
第二區 	 新北市 	 板橋區 	 551452
--------------------------------
第三區 	 桃園市 	 桃園區 	 44287
--------------------------------
第四區 	 台中市 	 北屯區 	 275207
--------------------------------
第五區 	 台南市 	 安南區 	 192327
--------------------------------
第六區 	 高雄市 	 三民區 	 343203
--------------------------------
第七區 	 台北市 	 大安區 	 309835
--------------------------------
第八區 	 新北市 	 永和區 	 222531
--------------------------------
第九區 	 桃園市 	 八德區 	 198473
--------------------------------
第十區 	 高雄市 	 前鎮區 	 189623
--------------------------------
第十一區 	 高雄市 	 鳳山區 	 359125
--------------------------------
第十二區 	 台北市 	 信義區 	 225561
--------------------------------
第十三區 	 新北市 	 新店區 	 302070
--------------------------------

In [ ]:
# DataFrame 資料的過濾和排序
print(df.population > 350000)
print('-----------------------')
print(df['city'].isin(['台北市', '高雄市']))

第一區     False
第二區      True
第三區     False
第四區     False
第五區     False
第六區     False
第七區     False
第八區     False
第九區     False
第十區     False
第十一區     True
第十二區    False
第十三區    False
Name: population, dtype: bool
-----------------------
第一區      True
第二區     False
第三區     False
第四區     False
第五區     False
第六區      True
第七區      True
第八區     False
第九區     False
第十區      True
第十一區     True
第十二區     True
第十三區    False
Name: city, dtype: bool

In [ ]:
# 資料的新增與刪除
df
# 尋找
df.loc['第一區'] = ['士林區', 288340, '台北市']
print(df.tail(3))
# 新增
s = pd.Series({'city' : '新北市', 'name' : '中和區', 'population' : 413291})
df3 =df.append(s, ignore_index=True)
print(df3)

     name  population city
第十一區  鳳山區      359125  高雄市
第十二區  信義區      225561  台北市
第十三區  新店區      302070  新北市
   name  population city
0   士林區      288340  台北市
1   板橋區      551452  新北市
2   桃園區       44287  桃園市
3   北屯區      275207  台中市
4   安南區      192327  台南市
5   三民區      343203  高雄市
6   大安區      309835  台北市
7   永和區      222531  新北市
8   八德區      198473  桃園市
9   前鎮區      189623  高雄市
10  鳳山區      359125  高雄市
11  信義區      225561  台北市
12  新店區      302070  新北市
13  中和區      413291  新北市

<ipython-input-59-66ea1eb196b5>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 =df.append(s, ignore_index=True)

In [ ]:
# 資料刪除
df3.drop([5])

   name  population city
0   士林區      288340  台北市
1   板橋區      551452  新北市
2   桃園區       44287  桃園市
3   北屯區      275207  台中市
4   安南區      192327  台南市
6   大安區      309835  台北市
7   永和區      222531  新北市
8   八德區      198473  桃園市
9   前鎮區      189623  高雄市
10  鳳山區      359125  高雄市
11  信義區      225561  台北市
12  新店區      302070  新北市
13  中和區      413291  新北市

In [ ]:
# 分群(grouping), 樞紐分析
import numpy as np
df = pd.DataFrame({'名稱':['客戶A', '客戶B', '客戶A', '客戶B', '客戶A', '客戶B', '客戶A', '客戶A'],
          '編號':['訂單1','訂單1','訂單2','訂單3','訂單2','訂單1','訂單1','訂單3'],
          '數量':np.random.randint(1,5,size = 8),
          '售價':np.random.randint(150,500,size = 8)
                   })
print(df)

    名稱   編號  數量   售價
0  客戶A  訂單1   4  205
1  客戶B  訂單1   3  223
2  客戶A  訂單2   4  472
3  客戶B  訂單3   2  163
4  客戶A  訂單2   4  334
5  客戶B  訂單1   4  210
6  客戶A  訂單1   3  166
7  客戶A  訂單3   4  304

In [ ]:
print(df.groupby('名稱').sum())
print('-----------------------')
print(df.groupby(['名稱','編號']).sum())

     數量    售價
名稱
客戶A  19  1481
客戶B   9   596
-----------------------
         數量   售價
名稱  編號
客戶A 訂單1   7  371
    訂單2   8  806
    訂單3   4  304
客戶B 訂單1   7  433
    訂單3   2  163

<ipython-input-70-bd73b59e9e16>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(df.groupby('名稱').sum())

In [ ]:
# 樞紐分析pivot_table
pivot_a =df.pivot_table(index = '名稱', columns = '編號', values = '售價')
pivot_b =df.pivot_table(index = '名稱', columns = '編號', values = '數量')
print(pivot_a)
print()
print(pivot_b)

編號     訂單1    訂單2    訂單3
名稱
客戶A  185.5  403.0  304.0
客戶B  216.5    NaN  163.0

編號   訂單1  訂單2  訂單3
名稱
客戶A  3.5  4.0  4.0
客戶B  3.5  NaN  2.0