<a href="https://colab.research.google.com/github/s1063724/2024python_analysis/blob/main/example/1222datamining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Python 容器
# 串列 List, 字典 Dictionary, 集合 Set, 元組 Tuple
# 一維度陣列Array: 相同資料行型態，連續的資料
ls = [6, 4 , 5] #元素 eleement
print(ls)
print(ls, ls[2])
ls[2] = 'py'
print(ls)

[6, 4, 5]
[6, 4, 5] 5
[6, 4, 'py']

In [ ]:
ls.append('bar')
print(ls)

[6, 4, 'py', 'bar']

In [ ]:
ls.pop()
print(ls)

[6, 4, 'py']

In [ ]:
ls.reverse()
print(ls)

['py', 4, 6]

In [ ]:
ls1 = ls.copy()
print(ls1)

['py', 4, 6]

In [ ]:
ls2 = ls.extend((2,4,5))
print(ls2)

None

In [ ]:
# 串列 資料切割 資料抽取
nums = list(range(5))
print(nums)
print(nums[0])
print(nums[2:4])
print(nums[2:])
print(nums[:])

[0, 1, 2, 3, 4]
0
[2, 3]
[2, 3, 4]
[0, 1, 2, 3, 4]

In [ ]:
# 走訪 串列
ani = ['cat', 'dog', 'bat']
for ani_kind in ani:
  print(ani_kind)

cat
dog
bat

In [ ]:
for index,ani_kind in enumerate(ani):
  print('序號', index, '是', ani_kind)

序號 0 是 f
序號 1 是 i
序號 2 是 s
序號 3 是 h

In [ ]:
# 串列生成式
list1 = [x for x in range(10)]
print(list1)
list2 = [x+1 for x in range(10)]
print(list2)
list3 = [x for x in range(10) if x%2 ==0]
print(list3)
list4 = [x*2 for x in range(10) if x%2 == 0]
print(list4)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 2, 4, 6, 8]
[0, 4, 8, 12, 16]

In [ ]:
# 字典 Dictionary, dict
# {key:value}
d = {'cat':'white', 'dog':'white', 'fish':'blue'}
print(d)
print(d['cat'])

d['snake'] = 'yellow'
print(d)
d['snake'] = 'pink'
print(d)

print(d.get('monkey', '找不到!'))
print(d.get('snake', '找不到!'))

del d['snake']
print(d)

{'cat': 'white', 'dog': 'white', 'fish': 'blue'}
white
{'cat': 'white', 'dog': 'white', 'fish': 'blue', 'snake': 'yellow'}
{'cat': 'white', 'dog': 'white', 'fish': 'blue', 'snake': 'pink'}
找不到!
pink
{'cat': 'white', 'dog': 'white', 'fish': 'blue'}

In [ ]:
# 字典走訪
for ani in d:
  color = d[ani]
  print(ani, '的顏色是', color)

cat 的顏色是 white
dog 的顏色是 white
fish 的顏色是 blue

In [ ]:
for ani, color in d.items():
  print('動物', ani, '的顏色是', color, '。')

動物 cat 的顏色是 white 。
動物 dog 的顏色是 white 。
動物 fish 的顏色是 blue 。

In [ ]:
# 字典生成式
d1 = {x:x*x for x in range(10)}
print(d1)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
# 集合 Set
ani = {'cat', 'dog', 'pig'}
print(type(ani))
print(ani)
ani.add('monkey')
print('cat' in ani)
print('monkey' in ani)
ani.remove('pig')
print(ani)

<class 'set'>
{'dog', 'cat', 'pig'}
True
True
{'monkey', 'dog', 'cat'}

In [ ]:
A = {1, 1, 3, 5, 7}
B = {2, 5, 6, 44}

print(A & B)
print(A.intersection(B))

print(A | B)
print(A.union(B))

print(A - B)
print(A.difference(B))

{5}
{5}
{1, 2, 3, 5, 6, 7, 44}
{1, 2, 3, 5, 6, 7, 44}
{1, 3, 7}
{1, 3, 7}

In [ ]:
# 元組 Tuple ，資料內容不可以被修改
t = (5, 6, 7, 8)
print(type(t))
print(t[0])

<class 'tuple'>
5

In [ ]:
# class -> OO(Object Oriented)
class Student:
  # 類別建構子
  def __init__(self, name, grade):
    self.name = name
    self.grade = grade

  def displayStudent(self):
    print('姓名: ' + self.name)
    print('成績: ' + str(self.grade))

  def whoami(self):
    return self.name

In [ ]:
s1 = Student('RayWu', 85)
s1.displayStudent()
s1.whoami()

姓名: RayWu
成績: 85

'RayWu'